{% extends "iop_app/base.html" %}

{% block content %}

<h4>Detale paczkomatu {{ parcel_machine.serial_number }} </h4>

    <p>Dodał: {{ parcel_machine.user }}</p>
    <p>Data dodania: {{ parcel_machine.date_added }}</p>

{% for worker in workers %}
     <li><a href="{% url 'iop_app:worker_details' worker.id %}">{{ worker.qc }} (QC)</a></li>
{% endfor %}
<br>
    <a href="{% url 'iop_app:create_worker' %}">Dodaj Worker</a>

    <p>Błędów maszyny ogólnie: {{ errors_list }}</p>

{% endblock content %}